[user]
    name = João Costa
    email = joaocosta@zonalivre.org
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status -s -b --show-stash
    co = checkout
    ci = commit
    br = branch
    type = cat-file -t
    dump = cat-file -p
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    df = diff --ignore-space-change
[push]
    default = matching
[pull]
    rebase = false
